.venv/
.env/
env/

data/
datasets/
temp_results/

__pycache__/
*.pyc

.vscode/
.idea/
.DS_Store

SSD-1B-Traditional/
outputs/
/fake-image-detection/resnet50_best_real_fake.pth
/fake-image-detection/test_split.csv
/fake-image-detection/train_split.csv
/fake-image-detection/val_split.csv
/fake-image-detection/TODO.md
